body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  height: 100%;
}
.search {
  margin-bottom: 20px;
  cursor: pointer;
}
.weather-container {
  width: 100%;
  padding: 20px;
}
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.forecast {
  width: 25%;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
}